/* #Reset# */
	a {
		text-decoration: inherit;
		color: inherit;
	}
	.fa {background-image: none;}

	/* #Reset/Gutterless# */
	.row-gutterless .w-col{padding-left:0;padding-right:0;}
	.w-container .row-gutterless {margin-left:0;margin-right:0;}
	
	/* #Reset/Rowspacer# */
	@media screen and (min-width: 480px) and (max-width: 767px) {
		.row-spacer .w-col{
			margin-bottom:10px;
		}
		.row-spacer .w-col.w-col-small-1,
		.row-spacer .w-col.w-col-small-2,
		.row-spacer .w-col.w-col-small-3,
		.row-spacer .w-col.w-col-small-4,
		.row-spacer .w-col.w-col-small-5,
		.row-spacer .w-col.w-col-small-6,
		.row-spacer .w-col.w-col-small-7,
		.row-spacer .w-col.w-col-small-8,
		.row-spacer .w-col.w-col-small-9,
		.row-spacer .w-col.w-col-small-10,
		.row-spacer .w-col.w-col-small-11,
		.row-spacer .w-col.w-col-small-12{
			margin-bottom:0;
		}
	}
	@media screen and (max-width: 479px) {
		.row-spacer .w-col{
			margin-bottom:10px;
		}
		.row-spacer .w-col.w-col-tiny-1,
		.row-spacer .w-col.w-col-tiny-2,
		.row-spacer .w-col.w-col-tiny-3,
		.row-spacer .w-col.w-col-tiny-4,
		.row-spacer .w-col.w-col-tiny-5,
		.row-spacer .w-col.w-col-tiny-6,
		.row-spacer .w-col.w-col-tiny-7,
		.row-spacer .w-col.w-col-tiny-8,
		.row-spacer .w-col.w-col-tiny-9,
		.row-spacer .w-col.w-col-tiny-10,
		.row-spacer .w-col.w-col-tiny-11,
		.row-spacer .w-col.w-col-tiny-12{
			margin-bottom:0;
		}
	}
  	@media screen and (max-width: 991px) {
		.row-spacer .w-col-stack{
			margin-bottom:1rem;
		}
		.row-spacer .w-col:last-child{
			margin-bottom:0;
		}
	}
	
	/* #Reset/Container# */
  	.docs.container a,
	.main-container a,
	.w-container li a{
		color: #7a232e;
	}
  	.docs.container a:hover,
  	.main-container a:hover,
	.w-container li a:hover{
		color: #a3af00;
	}
  
  	.main-container h1,
  	.main-container h2,
    .main-container h3,
    .main-container h4{
      color: #424242;
    }
  	.docs.container { text-align:justify;}
	@media screen and (min-width: 1200px) {
		.w-container {
			max-width: 1170px;
		}
	}
    /* #Reset/Forms# */
	.checkboxfield.checkbox,
    .form-control{
        vertical-align:middle;
    }

  	.radio.radio-list-horizontal > div,
  	.checkbox.checkbox-list-horizontal > div {
        display: inline;
    }
  	.radio.radio-list-horizontal label,
    .checkbox.checkbox-list-horizontal label {
      margin-right: 0.5em;
  	}
  	.formbutton{
      line-height: inherit;
  	}
	/* #Pace# */
	.pace {
		-webkit-pointer-events: none;
		pointer-events: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}
	.pace-inactive {
		display: none;
	}
	.pace .pace-progress {
		background: #8b1602;
		position: fixed;
		z-index: 2000;
		bottom: 0;
		right: 100%;
		width: 100%;
		height: 4px;
	}
	
	/* #Nav# */
	.nav-button.w--open .fa-close {
		display: block;
	}
	.nav-button.w--open .fa-bars {
		display: none;
	}
	.nav-bar.home .nav-logo {
		display: none;
	}
	.nav-bar.home .nav-logo.home {
		display: block;
	}
	.nav-bar.home .nav-link:hover,
	.nav-bar.home .nav-search {
		border-color: #fff;
		color: #fff;
	}
	.nav-bar.home .nav-search-input,
	.nav-bar.home .nav-link,
	.nav-bar.home .nav-search-icon {
		color: #fff;
	}
	.nav-bar.home .nav-menu {
		background-color: transparent;
	}
	.nav-bar.home {
		/* Permalink - http://colorzilla.com/gradient-editor/#575756+0,7a232f+14,ff5000+44,ffc627+63,cfde00+75,dadada+100&0.35+0,0.35+100 */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3NTc1NiIgc3RvcC1vcGFjaXR5PSIwLjM1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjE0JSIgc3RvcC1jb2xvcj0iIzdhMjMyZiIgc3RvcC1vcGFjaXR5PSIwLjM1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2ZmNTAwMCIgc3RvcC1vcGFjaXR5PSIwLjM1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2ZmYzYyNyIgc3RvcC1vcGFjaXR5PSIwLjM1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2NmZGUwMCIgc3RvcC1vcGFjaXR5PSIwLjM1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWRhZGEiIHN0b3Atb3BhY2l0eT0iMC4zNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left, rgba(87, 87, 86, 0.35) 0%, rgba(122, 35, 47, 0.35) 14%, rgba(255, 80, 0, 0.35) 44%, rgba(255, 198, 39, 0.35) 63%, rgba(207, 222, 0, 0.35) 75%, rgba(218, 218, 218, 0.35) 100%);
		background: -webkit-linear-gradient(left, rgba(87, 87, 86, 0.35) 0%, rgba(122, 35, 47, 0.35) 14%, rgba(255, 80, 0, 0.35) 44%, rgba(255, 198, 39, 0.35) 63%, rgba(207, 222, 0, 0.35) 75%, rgba(218, 218, 218, 0.35) 100%);
		background: linear-gradient(to right, rgba(87, 87, 86, 0.35) 0%, rgba(122, 35, 47, 0.35) 14%, rgba(255, 80, 0, 0.35) 44%, rgba(255, 198, 39, 0.35) 63%, rgba(207, 222, 0, 0.35) 75%, rgba(218, 218, 218, 0.35) 100%);
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59575756', endColorstr='#59dadada', GradientType=1);
	}
	@media (max-width: 991px) {
		.nav-bar.home .nav-button,
		.nav-bar.home .nav-button.w--open,
		.nav-bar.home .nav-link:hover {
			color: #fff;
		}
		.nav-bar.home .nav-menu {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#575756+0,7a232f+14,ff5000+44,ffc627+63,cfde00+75,dadada+100&0.75+0,0.75+100 */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3NTc1NiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjE0JSIgc3RvcC1jb2xvcj0iIzdhMjMyZiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2ZmNTAwMCIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2ZmYzYyNyIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2NmZGUwMCIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWRhZGEiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(left, rgba(87, 87, 86, 0.75) 0%, rgba(122, 35, 47, 0.75) 14%, rgba(255, 80, 0, 0.75) 44%, rgba(255, 198, 39, 0.75) 63%, rgba(207, 222, 0, 0.75) 75%, rgba(218, 218, 218, 0.75) 100%);
			background: -webkit-linear-gradient(left, rgba(87, 87, 86, 0.75) 0%, rgba(122, 35, 47, 0.75) 14%, rgba(255, 80, 0, 0.75) 44%, rgba(255, 198, 39, 0.75) 63%, rgba(207, 222, 0, 0.75) 75%, rgba(218, 218, 218, 0.75) 100%);
			background: linear-gradient(to right, rgba(87, 87, 86, 0.75) 0%, rgba(122, 35, 47, 0.75) 14%, rgba(255, 80, 0, 0.75) 44%, rgba(255, 198, 39, 0.75) 63%, rgba(207, 222, 0, 0.75) 75%, rgba(218, 218, 218, 0.75) 100%);
			filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bf575756', endColorstr='#bfdadada', GradientType=1);
		}
	}
	
	/* #Footer# */
	.footer li a {
		color:#fff;
		text-transform: uppercase;
		font-size: 0.875em;
	}
	.footer-credits a:hover,
	.footer li a:hover {
		color: #fdc600;
	}
	.footer li {
		margin-bottom: 0.375em;
	}
	.footer-links a:last-child {
		margin-right: 0;
	}
	.footer h4 {
		color:#fff;
	}
	/* #Sprites# */
  	
	.cut-icon,
	.sprites { background: url(https://daks2k3a4ib2z.cloudfront.net/56efe1d7803433e7393ac65e/56fbdbee4ea8b3bd6a5b6157_sprites.png) no-repeat; }
	.cut-down { width: 40px; height: 17px; background-position: -176px -519px; }
	.cut-left { width: 17px; height: 40px; background-position: -323px -311px; }
	.cut-right { width: 17px; height: 40px; background-position: -244px -402px; }
	.cut-up { width: 40px; height: 17px; background-position: -111px -528px; }
	.download-16 { width: 16px; height: 16px; background-position: -389px -260px; }
	.download-50 { width: 50px; height: 50px; background-position: -406px -222px; }
	.download-64 { width: 64px; height: 64px; background-position: -333px 0; }
	.download-dark-16 { width: 16px; height: 16px; background-position: -389px -277px; }
	.download-dark-50 { width: 50px; height: 50px; background-position: -457px -222px; }
	.download-dark-64 { width: 64px; height: 64px; background-position: -333px -65px; }
	.download-dark { width: 110px; height: 110px; background-position: 0 0; }
	.download { width: 110px; height: 110px; background-position: -111px 0; }
	.energias-16 { width: 16px; height: 16px; background-position: -222px -287px; }
	.energias-50 { width: 50px; height: 50px; background-position: -287px -260px; }
	.energias-64 { width: 64px; height: 64px; background-position: -333px -130px; }
	.energias { width: 110px; height: 110px; background-position: -222px 0; }
	.facebook { width: 32px; height: 32px; background-position: -287px -222px; }
	.google { width: 32px; height: 32px; background-position: -222px -304px; }
	.instalacoes-16 { width: 16px; height: 16px; background-position: -389px -294px; }
	.instalacoes-50 { width: 50px; height: 50px; background-position: -338px -260px; }
	.instalacoes-64 { width: 64px; height: 64px; background-position: -333px -195px; }
	.instalacoes { width: 110px; height: 110px; background-position: -398px 0; }
	.linkedin { width: 32px; height: 32px; background-position: -341px -311px; }
	.location-16 { width: 16px; height: 16px; background-position: -374px -311px; }
	.location-50 { width: 50px; height: 50px; background-position: -406px -273px; }
	.location-64 { width: 64px; height: 64px; background-position: -222px -222px; }
	.location-dark-16 { width: 16px; height: 16px; background-position: -374px -328px; }
	.location-dark-50 { width: 50px; height: 50px; background-position: -457px -273px; }
	.location-dark-64 { width: 64px; height: 64px; background-position: -258px -311px; }
	.location-dark { width: 110px; height: 110px; background-position: 0 -111px; }
	.location { width: 110px; height: 110px; background-position: -111px -111px; }
	.minus-16 { width: 16px; height: 16px; background-position: -176px -333px; }
	.minus-50 { width: 50px; height: 50px; background-position: -395px -324px; }
	.minus-64 { width: 64px; height: 64px; background-position: -111px -333px; }
	.minus-dark-16 { width: 16px; height: 16px; background-position: -176px -350px; }
	.minus-dark-50 { width: 50px; height: 50px; background-position: -446px -324px; }
	.minus-dark-64 { width: 64px; height: 64px; background-position: -193px -337px; }
	.minus-dark { width: 110px; height: 110px; background-position: -222px -111px; }
	.minus { width: 110px; height: 110px; background-position: -398px -111px; }
	.plus-16 { width: 16px; height: 16px; background-position: -323px -352px; }
	.plus-50 { width: 50px; height: 50px; background-position: -344px -345px; }
	.plus-64 { width: 64px; height: 64px; background-position: -262px -376px; }
	.plus-dark-16 { width: 16px; height: 16px; background-position: -176px -367px; }
	.plus-dark-50 { width: 50px; height: 50px; background-position: -176px -435px; }
	.plus-dark-64 { width: 64px; height: 64px; background-position: -111px -398px; }
	.plus-dark { width: 110px; height: 110px; background-position: 0 -222px; }
	.plus { width: 110px; height: 110px; background-position: -111px -222px; }
	.redes-16 { width: 16px; height: 16px; background-position: -327px -369px; }
	.redes-50 { width: 50px; height: 50px; background-position: -278px -441px; }
	.redes-64 { width: 64px; height: 64px; background-position: -329px -403px; }
	.redes { width: 110px; height: 110px; background-position: 0 -333px; }
	.representacoes-16 { width: 16px; height: 16px; background-position: -176px -384px; }
	.representacoes-50 { width: 50px; height: 50px; background-position: -227px -443px; }
	.representacoes-64 { width: 64px; height: 64px; background-position: -111px -463px; }
	.representacoes { width: 110px; height: 110px; background-position: -395px -383px; }
	.separator { width: 70px; height: 7px; background-position: -395px -375px; }
	.ssa-16 { width: 16px; height: 16px; background-position: -327px -386px; }
	.ssa-50 { width: 50px; height: 50px; background-position: 0 -555px; }
	.ssa-64 { width: 64px; height: 64px; background-position: -329px -468px; }
	.ssa { width: 110px; height: 110px; background-position: 0 -444px; }
	.twitter { width: 32px; height: 32px; background-position: -176px -402px; }
	.vauga-16 { width: 16px; height: 16px; background-position: -209px -402px; }
	.vauga-50 { width: 50px; height: 50px; background-position: -51px -555px; }
	.vauga-64 { width: 64px; height: 64px; background-position: -329px -533px; }
	.vauga-alt-16 { width: 16px; height: 16px; background-position: -227px -402px; }
	.vauga-alt-50 { width: 50px; height: 50px; background-position: -102px -555px; }
	.vauga-alt-64 { width: 64px; height: 64px; background-position: -153px -537px; }
	.vauga-alt { width: 110px; height: 110px; background-position: -218px -494px; }
	.vauga { width: 110px; height: 110px; background-position: -394px -494px; }
	.youtube { width: 32px; height: 32px; background-position: -176px -486px; }
	
	/* #Sprites/Icons# */
	.nav-search-icon,
	.subnav-icon
	{
		vertical-align:middle;
	}
	
	/* #Sprites/Squares# */
	.squares-col > .sprites{
		position: absolute;
	}
	.squares-col > .sprites.left{
		bottom: 0;
		left: 0;
	}
	.squares-col > .sprites.right{
		top: 0;
		right: 0;
	}
	
	/* #News# */
	.news-article.red .news-hover {
		background-color: rgba(138, 23, 2, 0.85);
	}
	.news-article.red:hover h3,
	.news-article.red h3 > a:hover {
		color: #8a1702;
	}
	.news-article.orange .news-hover {
		background-color: rgba(242, 140, 0, 0.85);
	}
	.news-article.orange:hover h3,
	.news-article.orange h3 > a:hover {
		color: #f28c00;
	}
	.news-article.yellow .news-hover {
		background-color: rgba(253, 197, 19, 0.85);
	}
	.news-article.yellow:hover h3,
	.news-article.yellow h3 > a:hover {
		color: #fdc513;
	}
	.news-article.green .news-hover {
		background-color: rgba(221, 222, 58, 0.85);
	}
	.news-article.green:hover h3,
	.news-article.green h3 > a:hover {
		color: #ddde3a;
	}
  /* #Portfolio# */
	.portfolio-article.red .portfolio-link {
		background-color: rgba(138, 23, 2, 0.85);
	}
	.portfolio-article.orange .portfolio-link {
		background-color: rgba(242, 140, 0, 0.85);
	}
	.portfolio-article.yellow .portfolio-link {
		background-color: rgba(253, 197, 19, 0.85);
	}
	.portfolio-article.green .portfolio-link {
		background-color: rgba(221, 222, 58, 0.85);
	}
	
	/* #Overrides# */
	.header-section.red .header-overlay,
	.action-section.red .action-overlay {
		background: rgba(138, 23, 2, 0.85);
	}
	.header-section.orange .header-overlay,
	.action-section.orange .action-overlay {
		background: rgba(242, 140, 0, 0.85);
	}
	.header-section.yellow .header-overlay,
	.action-section.yellow .action-overlay {
		background: rgba(253, 197, 19, 0.85);
	}
	.header-section.green .header-overlay,
	.action-section.green .action-overlay {
		background: rgba(221, 222, 58, 0.85);
	}
	.header-section.home .header-overlay,
	.action-section.home .action-overlay,
	.header-section.gradient .header-overlay,
	.action-section.gradient .action-overlay {
		/* Permalink - http://colorzilla.com/gradient-editor/#575756+0,7a232f+14,ff5000+44,ffc627+63,cfde00+75,dadada+100&0.75+0,0.75+100 */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3NTc1NiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjE0JSIgc3RvcC1jb2xvcj0iIzdhMjMyZiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2ZmNTAwMCIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2ZmYzYyNyIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2NmZGUwMCIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYWRhZGEiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(left, rgba(87, 87, 86, 0.75) 0%, rgba(122, 35, 47, 0.75) 14%, rgba(255, 80, 0, 0.75) 44%, rgba(255, 198, 39, 0.75) 63%, rgba(207, 222, 0, 0.75) 75%, rgba(218, 218, 218, 0.75) 100%);
		background: -webkit-linear-gradient(left, rgba(87, 87, 86, 0.75) 0%, rgba(122, 35, 47, 0.75) 14%, rgba(255, 80, 0, 0.75) 44%, rgba(255, 198, 39, 0.75) 63%, rgba(207, 222, 0, 0.75) 75%, rgba(218, 218, 218, 0.75) 100%);
		background: linear-gradient(to right, rgba(87, 87, 86, 0.75) 0%, rgba(122, 35, 47, 0.75) 14%, rgba(255, 80, 0, 0.75) 44%, rgba(255, 198, 39, 0.75) 63%, rgba(207, 222, 0, 0.75) 75%, rgba(218, 218, 218, 0.75) 100%);
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bf575756', endColorstr='#bfdadada', GradientType=1);
	}
	
	/* #Backgrounds# */